@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to right, #ffffff, #add8e6, #bccebc, #edf3ed);
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, #ffffff, #90ee90);
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  padding-left: 5rem;
  padding-right: 5rem;
} */

body {
  color: white;
  background-image: url('../../public/assets/img/grow.jpg');
  padding-left: 5rem;
  padding-right: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
  z-index: -1; /* Keep the overlay behind content */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.head_text {
  @apply mt-48 text-lg font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.green_gradient {
  @apply bg-gradient-to-r 
  from-amber-600 
  via-yellow-400 
  via-green-500 
  to-teal-400;
  @apply bg-clip-text text-transparent;
}
.desc{
  @apply mt-5 text-white;
  margin-bottom: 33px;
}
.button {
  @apply px-8 py-3 text-white font-bold rounded-lg;
  background: var(--foreground);
  border: 1px solid gray;
  margin: 0 auto;
}
.button:hover {
  transition-duration: 2s;
  background: linear-gradient(to right, #add8e6, #bccebc, #ffffff, #edf3ed);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: var(--foreground);
}
.bg_img{
  margin-top: 10rem;
}
.logo{
  @apply text-lg font-bold;
}
.auth_btn{
  @apply px-5 py-3 text-white font-bold rounded-lg;
  background: var(--foreground);
  border: 1px solid gray;
  margin: 0 auto; 
}
.home_section{
  margin-top: -10rem !important;
}

.swiper-pagination{
  margin-bottom: 12rem !important;
}