@media (max-width: 640px) { /* For screens smaller than 640px (typical mobile) */
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
    --background: linear-gradient(to right, #ffffff, #add8e6, #bccebc, #edf3ed);
    --foreground: #171717;

    }
    
    /* body {
        padding-left: 1rem;
        padding-right: 1rem;
    } */
    body {
      color: white;
      background-image: url('../../public/assets/img/mobile_bg.jpg');
      padding-left: 1rem;
      padding-right: 1rem;
      background-size: cover;
      background-repeat: no-repeat;
    }
    body::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
      z-index: -1; /* Keep the overlay behind content */
    }
    
      .home_section{
        margin-top: -10rem !important;
      }
      .desc{
        @apply mt-5 text-white;
        margin-bottom: 30px;
        font-size: 15px !important;
      }
      .button {
        @apply px-5 py-2 text-white font-bold rounded-lg;
        background: var(--foreground);
        border: 1px solid gray;
        margin: 0 auto;
        font-size: 13px;
      }
}